<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Titulo do meu site</h1>


    Lista de suportes
    <ul>
        <li>Nautilus</li>
        <li>Nami</li>
        <li>Lulu</li>
        <li>threash</li>
        <li>amumu</li>
        <li>rakan</li>
    </ul>
    
</body>
</html>