{{>partials/header}}

    <h1>Titulo do meu site</h1>


    {{#showWelcome}}
    oi {{nome}}, seja bem vindo!
    {{/showWelcome}}


   
    <ul>
        <li>Caitlyn</li>
        <li>Jhin</li>
        <li>Lucian</li>
        <li>Ashe</li>
        <li>Kai'sa</li>
        <li>Vayne</li>
    </ul>
    {{partials/footer}}
    