<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>exercicio de idade</h1>
    {{#mostrarIdade}}
    olá {{nome}} você é maior de idade 
    {{/mostrarIdade}}

    {{#products}}

    <li>{{.}}</li>

    {{/products}}

    
</body>
</html>